/* Style général */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

/* Style pour le header */
header {
    background-image: url('Header2.png'); /* Ajoutez le chemin vers votre image */
    background-size: cover; /* Assurez-vous que l'image de fond couvre tout l'en-tête */
    background-position: center; /* Centrez l'image de fond */
    color: #fff; /* Couleur du texte */
    padding: 20px; /* Ajoutez un espace autour du texte */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header img {
    border-radius: 10px; /* ou la valeur que vous préférez pour l'arrondi des coins */
}


.header-text {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7); /* Couleur du fond noir avec une opacité de 70% */
    padding: 3px 20px; /* Ajoutez un espace à l'intérieur du rectangle noir */
}






/* Section principale */
main {
    padding: 1rem 20px;
}

h2 {
    color: #333;
}

/* Section des formulaires et des informations */
section {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Boutons */
button {
    display: inline-block;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Pour la partie décodeur */


/* Style pour le texte sous les boutons */
.header-text {
    background-color: rgba(0, 0, 0, 0.7); /* Couleur du fond noir avec une opacité de 70% */
    color: #fff; /* Couleur du texte */
    padding: 8px 15px; /* Ajoutez un espacement autour du texte */
    border-radius: 5px; /* Ajoutez des coins arrondis */
    margin-top: 10px; /* Ajoutez une marge en haut */
    display: inline-block; /* Permet au rectangle noir de s'ajuster à la taille du texte */
}




button:hover {
    background: #555;
}

/* Pied de page */
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

footer a {
    color: #fff; /* Couleur du texte pour qu'il ressorte sur le fond sombre du pied de page */
    text-decoration: none; /* Optionnel : supprime le soulignement par défaut */
}

footer a:hover, footer a:focus {
    text-decoration: underline; /* Ajoute un soulignement au survol ou à la sélection pour une meilleure visibilité */
    color: #4CAF50; /* Change la couleur au survol pour une indication visuelle */
}


/* Entrée de texte */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-color: #333;
}

/* Responsive design pour les écrans plus petits */
@media (max-width: 600px) {
    body {
        padding: 0;
    }

    main {
        padding: 0;
    }
}

/*menu hamburger */

./* Le menu glissant */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Les liens du menu */
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Le bouton de fermeture */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Le bouton d'ouverture du menu */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/* Le menu glissant */
.sidebar {
    height: 100%;
    width: 250px; /* Définissez une largeur fixe pour le menu */
    position: fixed;
    z-index: 2; /* Assurez-vous que le z-index est supérieur à celui des autres éléments */
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    transform: translateX(-100%); /* Cache le menu hors de l'écran */
}

/* Ajouter ce style pour ouvrir le menu */
.menu-open .sidebar {
    transform: translateX(0); /* Fait apparaître le menu */
}


